/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

.box {
  border: 3px solid #47d7ac;
  border-radius: 3px;
}
.button {
  background-color: #47d7ac;
  color: #2d2926;
  padding: .5rem;
  text-decoration: none;
}

body {
  padding: 1rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  background-color: #fedc5c;
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.recipe--preview {
  width: calc(50% - 1rem);
}
.recipe__image {
  margin-right: 1rem;
}
.recipe__image--small {
  height: 100px;
}
.recipe__image--medium {
  height: 300px;
}

.attribute__title {
  font-weight: bold;
  margin-right: 1rem;
}
